.mainContainer{
    text-align: center;
}
.mainContainer h2{
    color: #535353;
    font-weight: 700;
}
.citizenContainer{
    display: inline-block;
    width: fit-content;
    padding-left: 2rem;
    padding-right: 20px;
    vertical-align: top;
    text-align: left;
}
.citizenContainer a{
    text-decoration: none;
}

.citizenChild{
    display: grid;
    grid-template-columns: 11rem 11rem 11rem;
    grid-column-gap: 1.5rem;
    grid-row-gap: 20px;
}

.iconBox{
    height: 165px;
    border-radius: 5px 5px;
    text-align: center;
    color: white;
}
.iconBox img{
    height: 54px;
    width: 54px;
}
.sIconBox{
    height:145px;
    width: 11rem;
    padding-top: 20px;
    transition: ease 0.5s;
}

.sIconBox:hover{
    padding-top: 10px;
}

.prabaktaContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 2rem;
}

.prabakta img{
    height: 120px;
    width: 120px;
}

.prabakta h2{
    font-size: medium;

}

.noticeContainer{
    display: inline-block;
    height: 50rem;
    vertical-align: top;
    text-align: left;
}
.noticeBox{
    width: 100%;
    border-radius: 5px 5px;
}
.noticeNav{
    min-height: 41rem;
    background-color: rgb(238,238,238);
    border-radius: 5px 5px;
}
.noticeNav a{
    cursor: pointer;
    text-decoration: none;
    color: aliceblue;
}
.noticeBar{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: rgb(2,3,129);
    font-size: 1.19rem;
    font-weight: 700;
    border-radius: 5px 5px 0 0;
    padding-top: 10px;
}
.noticeContent{
    padding-left: 1.5rem;
    height: 37rem;
    overflow-y: scroll;
}
.noticeContainer p{
    color: rgb(156, 156, 156)
}
.noticeButton{
    margin-top: 20px;
    background-color: orange;
    border-radius: 5px 5px;
    height: 35px;
    margin-left: 20px;
    margin-bottom: 25px;
    border: orange;
    color: white;
    width: 110px;
    font-size: large;
}
.noticeButton:hover{
    background-color: rgb(255, 188, 62);
    transition-delay: 0.05s;
}

@media only screen and (max-width: 600px) {
    .mainContainer{
        display: block;
    }

    .citizenChild{
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    .iconBox{
        width:100%;

    }
    .sIconBox{
        width: 100%;
        text-align: center;
    }

    .noticeContainer{
        margin-top: 15px;
        width: 100%;
    }
   .noticeBar{
       display: flex;
       flex-direction: column;
       text-align: center;
   } 
  }